In [42]:
# Importing required libraries
import seaborn as snL
import pandas as pd
import numpy as np
from datetime import datetime

In [43]:
# Reading data source
df_csv = pd.read_csv('./train.csv')

In [44]:
# Data Cleaning
# - total count
len(df_csv)

5847

In [45]:
df_csv.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [46]:
df_csv.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

a. Since the median is less impacted by extreme values (outliers) in the dataset, it is a better option than the mean or mode in this situation. Car prices can fluctuate widely, and the mean might be distorted by outliers, which lessens its representativeness of the data's core trend. In contrast, the median represents the middle value after sorting the data and provides a more reliable indicator of central tendency when outliers are present.

In order replace null values in 'New_Price' column, firstly it has be all numeric valued.

In [47]:
# filtering out 'New_Price' column
df_csv['New_Price'] = df_csv['New_Price'].astype(str)
df_csv['New_Price'] = df_csv['New_Price'].str.extract(r'([\d.]+)').astype(float)

In [48]:
# Calcuating the median of the 'New_Price' column
median_new_price = df_csv['New_Price'].median()
# Replaciong null values
df_csv['New_Price'].fillna(median_new_price, inplace=True)
print(df_csv)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0      11.48  12.50
1     1199 CC   88.7 bhp    5.0       8.61   4.50
2     1248 CC  88.76 bhp    7.0      11.48   6.00
3     1968 CC  140.8 bhp    5.0      11.48  17.74
4     1461 CC   63.1 bhp    5.0      11.48   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0       7.88   4.75
5843  1120 CC     71 bhp    5.0      11.48   4.00
5844  2498 CC    112 bhp    8.0      11.48   2.90
5845   998 CC   67.1 bhp    5.0      11.48   2.65
5846   936 CC   57.6 bhp    5.0      11.48   2.50

[5847 rows x 14 columns]

b. Converting 'Power','Engine','Mileage' columns to numeric values by filtering out the 'bhp','CC','kmpl' respectivitly

In [50]:
# function 
df_csv['Power'].astype(str)
print(df_csv)

def filterOut(value):
    if pd.isnull(value):
        return None
    index = value.find(" ")
    if index != -1:
        numeric = value[:index]
    else:
        numeric = value
    return(numeric)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0      11.48  12.50
1     1199 CC   88.7 bhp    5.0       8.61   4.50
2     1248 CC  88.76 bhp    7.0      11.48   6.00
3     1968 CC  140.8 bhp    5.0      11.48  17.74
4     1461 CC   63.1 bhp    5.0      11.48   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0       7.88   4.75
5843  1120 CC     71 bhp    5.0      11.48   4.00
5844  2498 CC    112 bhp    8.0      11.48   2.90
5845   998 CC   67.1 bhp    5.0      11.48   2.65
5846   936 CC   57.6 bhp    5.0      11.48   2.50

[5847 rows x 14 columns]

In [51]:
df_csv['Mileage'] = df_csv['Mileage'].apply(filterOut)
df_csv['Power'] = df_csv['Power'].apply(filterOut)
df_csv['Engine'] = df_csv['Engine'].apply(filterOut)

In [52]:
print(df_csv)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type Mileage Engine  \
0                 41000    Diesel       Manual      First   19.67   1582
1                 46000    Petrol       Manual      First      13   1199
2                 87000    Diesel       Manual      First   20.77   1248
3                 40670    Diesel    Automatic     Second    15.2   1968
4                 86999    Diesel       Manual      First   23.08   1461
...                 ...       ...          ...        ...     ...    ...
5842              27365    Diesel       Manual      First    28.4   1248
5843             100000    Diesel       Manual      First    24.4   1120
5844              55000    Diesel       Manual     Second    14.0   2498
5845              46000    Petrol       Manual      First    18.9    998
5846              47000    Diesel       Manual      First   25.44    936

      Power  Seats  New_Price  Price
0     126.2    5.0      11.48  12.50
1      88.7    5.0       8.61   4.50
2     88.76    7.0      11.48   6.00
3     140.8    5.0      11.48  17.74
4      63.1    5.0      11.48   3.50
...     ...    ...        ...    ...
5842     74    5.0       7.88   4.75
5843     71    5.0      11.48   4.00
5844    112    8.0      11.48   2.90
5845   67.1    5.0      11.48   2.65
5846   57.6    5.0      11.48   2.50

[5847 rows x 14 columns]

c. Converting the 'Fuel_Type' and 'Transmission' into  categorical variables

In [53]:
df_csv=pd.get_dummies(dataframe,columns=['Fuel_Type','Transmission'])
print(df_csv)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type     Mileage   Engine      Power  Seats  \
0                 41000      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
1                 46000      First    13 km/kg  1199 CC   88.7 bhp    5.0
2                 87000      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
3                 40670     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
4                 86999      First  23.08 kmpl  1461 CC   63.1 bhp    5.0
...                 ...        ...         ...      ...        ...    ...
5842              27365      First   28.4 kmpl  1248 CC     74 bhp    5.0
5843             100000      First   24.4 kmpl  1120 CC     71 bhp    5.0
5844              55000     Second   14.0 kmpl  2498 CC    112 bhp    8.0
5845              46000      First   18.9 kmpl   998 CC   67.1 bhp    5.0
5846              47000      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Electric  \
0           NaN  12.50                 1                   0
1     8.61 Lakh   4.50                 0                   0
2           NaN   6.00                 1                   0
3           NaN  17.74                 1                   0
4           NaN   3.50                 1                   0
...         ...    ...               ...                 ...
5842  7.88 Lakh   4.75                 1                   0
5843        NaN   4.00                 1                   0
5844        NaN   2.90                 1                   0
5845        NaN   2.65                 0                   0
5846        NaN   2.50                 1                   0

      Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual
0                    0                       0                    1
1                    1                       0                    1
2                    0                       0                    1
3                    0                       1                    0
4                    0                       0                    1
...                ...                     ...                  ...
5842                 0                       0                    1
5843                 0                       0                    1
5844                 0                       0                    1
5845                 1                       0                    1
5846                 0                       0                    1

[5847 rows x 17 columns]

d. Adding new feature to the dataset to calculate the current age of the car

In [55]:
current_year = datetime.now().year
df_csv['Car_Age'] = current_year - df_csv['Year']
print(df_csv)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type     Mileage   Engine      Power  Seats  \
0                 41000      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
1                 46000      First    13 km/kg  1199 CC   88.7 bhp    5.0
2                 87000      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
3                 40670     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
4                 86999      First  23.08 kmpl  1461 CC   63.1 bhp    5.0
...                 ...        ...         ...      ...        ...    ...
5842              27365      First   28.4 kmpl  1248 CC     74 bhp    5.0
5843             100000      First   24.4 kmpl  1120 CC     71 bhp    5.0
5844              55000     Second   14.0 kmpl  2498 CC    112 bhp    8.0
5845              46000      First   18.9 kmpl   998 CC   67.1 bhp    5.0
5846              47000      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price  Fuel_Type_Diesel  Fuel_Type_Electric  \
0           NaN  12.50                 1                   0
1     8.61 Lakh   4.50                 0                   0
2           NaN   6.00                 1                   0
3           NaN  17.74                 1                   0
4           NaN   3.50                 1                   0
...         ...    ...               ...                 ...
5842  7.88 Lakh   4.75                 1                   0
5843        NaN   4.00                 1                   0
5844        NaN   2.90                 1                   0
5845        NaN   2.65                 0                   0
5846        NaN   2.50                 1                   0

      Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual  Car_Age
0                    0                       0                    1        8
1                    1                       0                    1       12
2                    0                       0                    1       11
3                    0                       1                    0       10
4                    0                       0                    1       10
...                ...                     ...                  ...      ...
5842                 0                       0                    1        9
5843                 0                       0                    1        8
5844                 0                       0                    1       11
5845                 1                       0                    1       10
5846                 0                       0                    1       12

[5847 rows x 18 columns]

In [57]:
# exporting the result dataset
df_csv.to_csv('result.csv')